{% extends 'main/common.html' %}
{% block content %}
<!-- <a href="main\templates\main\area-aziende.html">Area Aziende</a> -->
    <style></style>
        <main>
            <section class="cards">
                <section class="card-benvenuto">
                    <div class="card-benvenuto-contenuto">
                        <h2>Le Aziende</h2>
                    </div>
                </section>
                <section class="cards-aziende">
                        <div class="card-candidato">
                            <h2>Azienda 1</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec mollis. Quisque convallis libero in sapien pharetra tincidunt. Aliquam elit ante, malesuada id, tempor eu, gravida id, odio. Maecenas suscipit, risus et eleifend imperdiet, nisi orci ullamcorper massa, et adipiscing orci velit quis magna.</p>
                            <button>Scopri di più</button>
                        </div>
                        <div class="card-candidato">
                            <h2>Azienda 2</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec mollis. Quisque convallis libero in sapien pharetra tincidunt. Aliquam elit ante, malesuada id, tempor eu, gravida id, odio. Maecenas suscipit, risus et eleifend imperdiet, nisi orci ullamcorper massa, et adipiscing orci velit quis magna.</p>
                            <button>Scopri di più</button>
                        </div>
                        <div class="card-candidato">
                            <h2>Azienda 3</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec mollis. Quisque convallis libero in sapien pharetra tincidunt. Aliquam elit ante, malesuada id, tempor eu, gravida id, odio. Maecenas suscipit, risus et eleifend imperdiet, nisi orci ullamcorper massa, et adipiscing orci velit quis magna.</p>
                            <button>Scopri di più</button>
                </section>
            </section>
        </main>
        
    <script></script>
{% endblock %}
